
.fixedColumn {
    width: 250px;
    float: left;
    background-color: #bd5d38;
    height:100%;
    position: fixed;
    }
.flexibleColumn {
    margin-left: 350px;
    }

.navbar-header{
    padding-top: 80%;
    padding-left: 40px;
    padding-right: 35px;
    height: 350px;
}

.img-circle{
    width:134px;
    height:136px;
    border: 8px solid #ca7d60;
    }
    
.navbar-nav {
    padding-top: 10px;
}

.nav-item { 
    height: 40px;
}

.nav-link{
    color:#eabfaf;
    font-weight:800;
    letter-spacing:.05rem;
    text-transform:uppercase;
    font-size:14px;
    font-color:#ca7d60;
    }

.nav-link.a:active {
    color: white;
    }
    
.nav-link.a:current {
  color: red;
}

   
    

    #o_meni {height:100vh;color: #666a6f;}
    #iskustvo {height:100vh;color:#666a6f;}
    #obrazovanje {height:100vh;color:#666a6f;}
    #vestine {height:100vh;color:#666a6f;}
    #interesovanja {height:100vh;color:#666a6f;}
    #nagrade {height:100vh;color:#666a6f;}
 
 

.pr{
    line-height: 200%;
    width: 800px;
     }

.fa {
    padding: 15px ;
    font-size: 200px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 80%;
    font-size: 30px;
    }
.fa:hover {
    opacity: 0.9;
    background-color: #ca7d60;
    text-decoration: none;
    }
.fa-instagram {
    background: #4a5058;
    color: white;
    }
.fa-github {
    background:#4a5058;
    color: white;
    }
.fa-facebook {
    background: #4a5058;
    color: white;
    }
.fa-twitter {
    background: #4a5058;
    color: white;
    }                      

    
  @media (min-width: 767px) {
  .fixedColumn .navbar-header .menu-list .menu-content {
    display: block;
      } 
}

@media (max-width: 767px) {
  .fixedColumn{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .fixedColumn .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 20px !important;
  }
}
