
#me .fixedColumn {
    width: 250px;
    float: left;
    background-color: #bd5d38;
    height:100%;
    position: fixed;
    }
#me .flexibleColumn {
    margin-left: 350px;
    }

.navbar-header{
    margin-top:30%; 
    margin-left: 45px;"
}

.img-circle{
    width:134px;
    height:136px;
    border: 8px solid #ca7d60;
    }

.nav-link{
    color:#eabfaf;
    font-weight:800;
    letter-spacing:.05rem;
    text-transform:uppercase;
    font-size:14px;
    font-color:#ca7d60;
    }



a:hover {
    color: #ffddcc;
    }

.nav.ul.li.a:active {
    color: white;
    }


    #o_meni {height:100vh;color: #666a6f;}
    #iskustvo {height:100vh;color:#666a6f;}
    #obrazovanje {height:100vh;color:#666a6f;}
    #vestine {height:100vh;color:#666a6f;}
    #interesovanja {height:100vh;color:#666a6f;}
    #nagrade {height:100vh;color:#666a6f;}
 
 

p.pr{
    line-height: 200%;
    width: 800px;
     }

.fa {
    padding: 15px ;
    font-size: 200px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 80%;
    font-size: 30px;
    }
.fa:hover {
    opacity: 0.9;
    background-color: #ca7d60;
    text-decoration: none;
    }
.fa-instagram {
    background: #4a5058;
    color: white;
    }
.fa-github {
    background:#4a5058;
    color: white;
    }
.fa-facebook {
    background: #4a5058;
    color: white;
    }
.fa-twitter {
    background: #4a5058;
    color: white;
    }                      